<div class="header">
<h1>MemeTube</h1>
  <input type="text" id="new-title" placeholder="enter title">
  <input type="text" id="new-description" placeholder="enter description">
  <input type="text" id="new-url" placeholder="enter URL">
  <input type="text" id="new-genre" placeholder="enter genre">
</div>

<ul id="video-list">
</ul>
