<h1>Add Video</h1>

<form action="/videos" method="POST">
  <input type="text" name="title" id="title" autofocus>
  <input type="text" name="description" id="description">
  <button>add video</button>
</form>